body {
    background-color: black;
    font-family: "VCR_OSD_MONO";
    font-size: 30px;
    color: #11C40E;
    text-transform: uppercase;
    cursor: url('assets/cursor.svg'), auto;
}

@font-face {
    font-family: "VCR_OSD_MONO"; /* Name der Schriftart */
    src: url("assets/vcr.ttf") format("truetype");
}


p, li, .column {
    list-style:none;
    padding: 20px;
    flex: 1;
}
.p-2 {
  color: #ff57c2;
}

/* Controller Styles */


.hinweis {
    font-family: "VCR_OSD_MONO";
    font-size: 30px;
    color: #11C40E;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 20px;
    border-bottom: 3px solid #11C40E;
    text-transform: uppercase;
    margin-left: -0.25em;
    margin-right: -0.25em;
  }


label,
textarea {
    font-family: "VCR_OSD_MONO";
    font-size: 30px;
    color: #11C40E;
    background: black;
    caret-shape: block; /* is not supported by any browser????*/
}


/* TEXTAREA*/

#inputarea {
  position: relative;
  padding-bottom: 20px;
  margin-top: -40px;
}

#pfeilnachrechts {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0;
  margin: 0;
  padding-left: 20px;
}

#topic {
  border: 0;
  padding: 0px;
  width: calc(100% - 3em);
  height: 200px;
  margin-left: 1.8em; /* prevents the user input from going behind the arrow(>) */
  outline: none; /* Prevents blue outline when focused */
  resize: none; 
  cursor: url('assets/cursortext.svg'), auto;
  text-transform: uppercase;
}

/* textarea:focus{
    outline:none;
} */

/*label {
  display: block;
  margin-bottom: 10px;
}*/

.column {
  position: relative; /* Ensures the buttons stay inside the column */
}

.buttons {
  position: absolute;
  bottom: 0; /* Sticks the buttons to the bottom of the column */
  width: calc(100% - 50px); /* Ensures buttons take up full width */
  display: flex;
  flex-direction: column;
  gap: 10px; /* Space between buttons */
}

#start-discussion, #abort-discussion {
    padding: 10px;
    background-color: black;
    color: black;
    font-size: 30px;
    text-transform: uppercase;
    border: 3px solid black;
    font-family: "VCR_OSD_MONO";
    cursor: url('assets/cursorclick.svg'), auto;
}

/* hover-effect */
#start-discussion, #abort-discussion:hover {
  color: black; 
  background-color: black;
}

#start-discussion, #abort-discussion:active {
  background-color: black;
  transform: translateY(4px);
}

.content {
    display: flex;
    height: calc(100vh - 120px); /* Höhe des Fensters minus Marquee */
}

.column:last-child{
    height:100%;
    border-left: 3px solid #11C40E;
    overflow: hidden;
}


input{
    cursor:block;
    cursor: cell;
}

#history {
  max-height: 90%;
  overflow-y: auto;
}

#history:focus {
  outline: none;
}

/* Agent Styles */

.image-container {
  position: absolute;
    top:0;
    left:0;
    z-index:2;
  width: 80%;
  height: 80%;
  padding:10%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
  
  .image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
  
  .hidden {
    display: none;
  }