body {
    background-color: black;
    font-family: "VCR_OSD_MONO";
    font-size: 30px;
    color: #11C40E;
    text-transform: uppercase;
}

@font-face {
    font-family: "VCR_OSD_MONO"; /* Name der Schriftart */
    src: url("assets/vcr.ttf") format("truetype");
}


p, li, .column {
    list-style:none;
    padding: 20px;
    flex: 1;
}

/* Controller Styles */


.hinweis {
    font-family: "VCR_OSD_MONO";
    font-size: 30px;
    color: #11C40E;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 20px;
    border-bottom: 3px solid #11C40E;
    text-transform: uppercase;
    margin-left: -0.25em;
    margin-right: -0.25em;
  }


label,
textarea {
    font-family: "VCR_OSD_MONO";
    font-size: 30px;
    color: #11C40E;
    background: black;
}


// TEXTAREA

textarea {
}

#inputarea {
  position: relative;
  padding-bottom: 20px;
}

#pfeilnachrechts {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0;
  margin: 0;
  padding-left: 20px;
}

#topic {
  border: 0;
  padding: 0px;
  width: calc(100% - 3em);
  height: 200px;
  margin-left: 1.8em; /* prevents the user input from going behind the arrow(>) */
  outline: none; /* Prevents blue outline when focused */
  resize: none; 
}

/* textarea:focus{
    outline:none;
} */

label {
  display: block;
  margin-bottom: 10px;
}

#start-discussion, #abort-discussion {
    padding: 10px;
    background-color: black;
    color: #11C40E;
    font-size: 30px;
    text-transform: uppercase;
    border: 3px solid #11C40E;
    font-family: "VCR_OSD_MONO";
    cursor: pointer;
}

.content {
    display: flex;
    height: calc(100vh - 50px); /* Höhe des Fensters minus Marquee */
}

.column:last-child{
    height:100%;
    border-left: 3px solid #11C40E;
    overflow: hidden;
}

textarea {
    resize: none;
}

input{
    cursor:block;
    cursor: cell;
}

/* Agent Styles */

.image-container {
  position: absolute;
    top:0;
    left:0;
    z-index:2;
  width: 80%;
  height: 80%;
  padding:10%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
  
  .image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
  
  .hidden {
    display: none;
  }